# Weather Analysis

In [2]:
# Data frames.
import pandas as pd

## Collecting the Data

The following code outputs the filename used to store the data file.
```bash
date +"%Y%m%d_%H%M%S_athenry.json
```
The `%Y` is replaced by the four-digit year (e.g. 2024).

## Analysing the Data

In [3]:
# Read the data.
df = pd.read_json('data/weather/20241104_141508_athenry.json')

In [4]:
# Show.
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,11,15n,Fog / Mist,"""Mist""",6,-,E,90,95,0,1025,Monday,2024-04-11,00:00
1,Athenry,11,15n,Fog / Mist,"""Mist""",6,-,E,90,95,0,1025,Monday,2024-04-11,01:00
2,Athenry,10,15n,Fog / Mist,"""Mist""",6,-,E,90,95,0,1024,Monday,2024-04-11,02:00
3,Athenry,10,15n,Fog / Mist,"""Mist""",6,-,E,90,96,0,1024,Monday,2024-04-11,03:00
4,Athenry,10,15n,Fog / Mist,"""Mist""",7,-,E,90,96,0,1024,Monday,2024-04-11,04:00

In [5]:
# Show.
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,15.000000,15.000000,15.00000,15.000000,15.0,15.000000,15
mean,10.666667,7.866667,96.00000,93.466667,0.0,1024.000000,2024-04-11 00:00:00
min,8.000000,6.000000,90.00000,85.000000,0.0,1023.000000,2024-04-11 00:00:00
25%,10.000000,6.000000,90.00000,92.000000,0.0,1024.000000,2024-04-11 00:00:00
50%,10.000000,7.000000,90.00000,96.000000,0.0,1024.000000,2024-04-11 00:00:00
75%,11.500000,9.000000,90.00000,96.000000,0.0,1024.000000,2024-04-11 00:00:00
max,13.000000,13.000000,135.00000,99.000000,0.0,1025.000000,2024-04-11 00:00:00
std,1.397276,2.669047,15.83396,4.853080,0.0,0.534522,NaN

## End